rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /user_permissions/{document=**} {
      // Anybody can submit to the assessors collection if they are loggged in but only if the email being submitted belongs to them
      allow get: if ((request.auth.uid == resource.data.uid));
      allow read, write: if request.auth.token.isAdmin;
    }
    match /files/{document=**} {
      // Any logged in person can create a file in the files collection
      allow create: if request.auth != null;
      // anyone can read files that are public
      allow get: if request.resource.data.route.startsWith('public') || request.auth.token.isAdmin;
      // Anyone can view files uploaded by themselves
      allow read: if request.auth.uid == resource.data.uploadedBy;
      // Anyone can update files that are uploaded by them
      allow update, delete: if request.auth.uid == resource.data.uploadedBy;
    }
    match /categories/{document=**} {
      // anyone can read from the categories collection
      allow get, list: if true;
      // only admins can update and delete
      allow read, write: if request.auth.token.isAdmin;
    }
    match /seller_profiles/{document=**} {
      // anyone can read from the seller profiles collection
      allow get, list: if true;
      // only admins can update and delete
      allow read, write: if (request.auth.token.isAdmin || request.auth.uid == request.resource.id);
    }
    match /seller_careers/{document=**} {
      // anyone who is logged in can read from the seller profiles collection
      allow get, list: if request.auth != null;
      // only admins can update and delete
      allow read, write: if (request.auth.token.isAdmin || request.auth.uid == request.resource.data.uid);

      // subcollection of drafts is only accessible to the seller who created it
      match /drafts/{draft} {
        allow read, write: if request.auth.token.isAdmin || request.auth.uid == request.resource.data.uid;
      }
    }
    match /gigs/{document=**} {
      // anyone can read from the gigs collection
      allow get, list: if true;
      // only admins can update and delete
      allow read, write: if request.auth.token.isSeller;
    }
  }
}
