rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // all files in the public folder are public
    match /public/{allPaths=**} {
      allow get: if true;
    }
    // all files about the category-images can only be created by admins
    match /public/category-images/{allPaths=**} {
      allow create: if request.auth.token.isAdmin;
    }
    // all files about the category-images can only be created by admins
    match /public/seller-profile-images/{allPaths=**} {
      allow create: if request.auth != null;
    }
  }
}
